﻿
@{
    ViewBag.Title = "Welcome";
}
<div style="height:100px;"></div>
<div style="text-align: center;">
    <h1>Welcome to PlamLibrary.</h1>
    <br>
    <h2>Please check your email for confirmation link.</h2>
</div>
<div style="height:100px;"></div>

