﻿@model IEnumerable<Library.DTOs.BookEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

@if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null && Library.AuthenticationService.AuthenticationManager.IsAdmin() == true)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.Label("Genre")
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <img src="@item.ImageUrl" ; width="200" /><br><br>
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4><br>by<br>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td style="width:550px">
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @foreach (var genre in item.Genres)
                {
                    @Html.DisplayFor(modelItem => genre.Name)<br>
                }
            </td>
            @if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null && Library.AuthenticationService.AuthenticationManager.IsAdmin() == true)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            @if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null)
            {
                var UpdateBookInUserListLink = "/UserBooks/Index?id=" + Library.AuthenticationService.AuthenticationManager.LoggedUser.Id + "&&bookId=" + item.Id;

                if (item.IsRead)
                {
                    <td><a href="@UpdateBookInUserListLink">Mark as Unread</a></td>
                }
                else
                {
                    <td><a href="@UpdateBookInUserListLink">Mark as Read</a></td>
                }
            }
        </tr>
    }

</table>
