﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Books", "Index", "Books")</li>
                        @if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null && Library.AuthenticationService.AuthenticationManager.IsAdmin())
                        {
                            <li>@Html.ActionLink("Genres", "Index", "Genres")</li>
                            <li>@Html.ActionLink("Authors", "Index", "Authors")</li>

                        }

                        @if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null)
                        {
                            if (Library.AuthenticationService.AuthenticationManager.IsAdmin())
                            {
                                <li>@Html.ActionLink("Users", "Index", "Admin")</li>
                                <li>@Html.ActionLink("All Exceptions", "AllExceptions", "Admin")</li>

                            }
                            else
                            {
                                <li>@Html.ActionLink("My Books", "Index", "UserBooks")</li>

                            }

                        }
                    </ul>
                    @if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Logout", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
