﻿@model IEnumerable<Library.BookService.Domain.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books Read</h2>

@if (Model.Count() == 0)
{
    <h4 style="text-align:center; padding:200px">
        You have not marked any books as read. To mark books as read click @Html.ActionLink("here", "Index", "Books")
    </h4>
}
else
{

    <table class="table">
        <tr>
            <th style="text-align:center;width:170px">
                @Html.Label("Book")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    <img src="@item.ImageUrl" ; width="100" /><br><br>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4><br>by<br>

                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                @if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null)
                {
                    var UpdateBookInUserListLink = "/UserBooks/Index?id=" + Library.AuthenticationService.AuthenticationManager.LoggedUser.Id + "&&bookId=" + item.Id;

                    <td><a href="@UpdateBookInUserListLink">Mark as Unread</a></td>

                }
            </tr>
        }

    </table>
}