﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align:center;">
    
    <img src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/ddbd29e2-fccc-4873-b9f9-78449b1e6ac6/404-opt.png" />
    
    <h4>
        Go back to home page from @Html.ActionLink("here", "Index")
    </h4>
</div>