﻿@model IEnumerable<Library.AuthorService.Domain.Models.Author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null && Library.AuthenticationService.AuthenticationManager.IsAdmin() == true)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th style="text-align:center;width:170px">
            @Html.Label("Author")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <img src="@item.ImageUrl" ; width="100" /><br><br>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (Library.AuthenticationService.AuthenticationManager.LoggedUser != null && Library.AuthenticationService.AuthenticationManager.IsAdmin() == true)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
